In [36]:
import pandas as pd 
import numpy as np 
import math
from sklearn import datasets
from sklearn.naive_bayes import GaussianNB 
from sklearn.preprocessing import Normalizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler, OrdinalEncoder, LabelEncoder, OrdinalEncoder
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn.naive_bayes import MultinomialNB

In [37]:
df = pd.read_csv('data.csv')
df.head(10)

,Unnamed: 0,location,country,gender,age,vis_wuhan,from_wuhan,symptom1,symptom2,symptom3,symptom4,symptom5,symptom6,diff_sym_hos,result
0,0,104,8,1,66.0,1,0,14,31,19,12,3,1,8,1
1,1,101,8,0,56.0,0,1,14,31,19,12,3,1,0,0
2,2,137,8,1,46.0,0,1,14,31,19,12,3,1,13,0
3,3,116,8,0,60.0,1,0,14,31,19,12,3,1,0,0
4,4,116,8,1,58.0,0,0,14,31,19,12,3,1,0,0
5,5,23,8,0,44.0,0,1,14,31,19,12,3,1,0,0
6,6,105,8,1,34.0,0,1,14,31,19,12,3,1,0,0
7,7,13,8,1,37.0,1,0,14,31,19,12,3,1,6,0
8,8,13,8,1,39.0,1,0,14,31,19,12,3,1,5,0
9,9,13,8,1,56.0,1,0,14,31,19,12,3,1,4,0

## number of data

In [38]:
print(len(df))

863

## spliting the data into train and test

In [39]:
#splitting the data into Training (85%) and Testing (15%)
x = df.drop('result',axis =1)
y = df['result']
xTrain , xTest , yTrain , yTest = train_test_split(x,y,random_state=4,test_size=0.1,shuffle = True)

In [40]:
#xTrain = zip(xTrain)

print(xTrain)

     Unnamed: 0  location  country  gender   age  vis_wuhan  from_wuhan  \
209         209        64       18       1  25.0          0           0
74           74       135        8       1  49.0          0           0
853         853        10        4       1  49.4          0           0
236         236       128       18       0  55.0          0           0
495         495       110       28       0  25.0          0           1
..          ...       ...      ...     ...   ...        ...         ...
360         360        78       18       0  65.0          0           0
709         709        45       13       0  60.0          0           0
439         439       108       24       0  59.0          0           0
174         174        96       11       2  49.4          0           0
122         122        99        8       0  32.0          0           0

     symptom1  symptom2  symptom3  symptom4  symptom5  symptom6  diff_sym_hos
209         6        31        19        12         3         1             3
74         14        31        19        12         3         1             0
853        14        31        19        12         3         1             0
236        14        31        19        12         3         1             0
495         2         3        19        12         3         1             3
..        ...       ...       ...       ...       ...       ...           ...
360         6        31        19        12         3         1             0
709        14        31        19        12         3         1             1
439        14        31        19        12         3         1             0
174        14        31        19        12         3         1             0
122        14        31        19        12         3         1             5

[776 rows x 14 columns]

## creating the model and load the data

In [41]:
model = GaussianNB()
model.fit(xTrain,yTrain)

GaussianNB(priors=None, var_smoothing=1e-09)

In [42]:
ypredict=model.predict(xTest)
ypredict

array([1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1],
      dtype=int64)

In [43]:
#f1 score
print (classification_report(yTest,ypredict))

              precision    recall  f1-score   support

           0       1.00      0.67      0.80        73
           1       0.37      1.00      0.54        14

    accuracy                           0.72        87
   macro avg       0.68      0.84      0.67        87
weighted avg       0.90      0.72      0.76        87

In [44]:
print (accuracy_score(yTest,ypredict))

0.7241379310344828

In [45]:
print (f1_score(yTest,ypredict))

0.5384615384615384

In [46]:
print (roc_auc_score(yTest,ypredict))

0.8356164383561644

In [47]:
print("Gaussian Naive Bayes model accuracy(in %):", metrics.accuracy_score(yTest, ypredict)*100)

Gaussian Naive Bayes model accuracy(in %): 72.41379310344827